.DS_Store
*.pro.user
agario/local_runner/.qmake.stash
agario/local_runner/main.o
agario/local_runner/Makefile
agario/local_runner/moc_custom.cpp
agario/local_runner/moc_custom.o
agario/local_runner/moc_logger.cpp
agario/local_runner/moc_logger.o
agario/local_runner/moc_mainwindow.cpp
agario/local_runner/moc_mainwindow.o
agario/local_runner/moc_mechanic.cpp
agario/local_runner/moc_mechanic.o
agario/local_runner/moc_predefs.h
agario/local_runner/moc_strategymodal.cpp
agario/local_runner/moc_strategymodal.o
agario/local_runner/ui_mainwindow.h
agario/local_runner/ui_strategymodal.h
agario/local_runner/local_runner.app/Contents/Info.plist
agario/local_runner/local_runner.app/Contents/PkgInfo
agario/local_runner/local_runner.app/Contents/MacOS/local_runner
agario/local_runner/local_runner.app/Contents/Resources/empty.lproj
